<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View/Edit Credential</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body class="p-3 mb-2 bg-light text-black">
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <h1 class="text-center">View/Edit Credential</h1>

            <form th:action="@{/credential/edit}" method="post" th:object="${credential}">
                <input type="hidden" th:field="*{credentialId}"/>
                <div class="form-group">
                    <label for="url">URL</label>
                    <input type="text" class="form-control" id="url" th:field="*{url}" placeholder="URL">
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" th:field="*{username}" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" id="password" th:field="*{password}" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
            </form>

            <div class="text-center mt-3">
                <a th:href="@{/home}" class="btn btn-secondary btn-block">Back to Home</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>